{# @var anchor string #}

{# <editor-fold desc="defaults" defaultstate="collapsed"> #}
{% set anchor = anchor|default %}
{# </editor-fold> #}

<section {{ anchor ? 'id="' ~ anchor ~ '"' }}>
	{% block content %}{% endblock %}
</section>
