{% extends 'base.twig' %}

{% block body %}
	<main id="main">
		{% block main %}{% endblock %}
	</main>

	<aside id="aside">
		{% block aside %}{% endblock %}
	</aside>

	<footer>
		{% embed 'components/section.twig' only %}
			{% block content %}
				FOOTER
			{% endblock %}
		{% endembed %}
	</footer>
{% endblock %}
