applications:
  panel:
    source:
      root: "/"
    type: "php:8.4"
    runtime:
      extensions:
        - bcmath
        - ctype
        - curl
        - imagick
        - iconv
        - intl
        - mbstring
        - pdo
        - pdo_pgsql
        - zip
        - dom
    relationships:
      postgresql:
    mounts:
      storage:
        source: "instance"
        source_path: "storage"
      web/assets/:
        source: "instance"
        source_path: "assets"

    web:
      locations:
        "/":
          root: "web"
          passthru: "/index.php"

services:
  postgresql:
    type: postgresql:17

routes:
  "https://panel.{default}/":
    type: upstream
    upstream: "panel:http"
