applications:
  panel:
    type: "php:8.4"
    source:
      root: "/"
    runtime:
      extensions:
        - bcmath
        - ctype
        - curl
        - imagick
        - iconv
        - intl
        - mbstring
        - pdo
        - pdo_pgsql
        - zip
        - dom
    workers:
      queue:
        commands:
          start: php craft queue/listen --verbose
    relationships:
      postgresql:
    mounts:
      storage:
        source: "instance"
        source_path: "storage"
      web/assets/:
        source: "instance"
        source_path: "assets"
    hooks:
      deploy: |
        set -xe
        php craft clear-caches/all --interactive=0
        php craft up --interactive=0 --no-backup=1
        php craft db/repair --interactive=0
      post_deploy: |
        set -xe
        php craft gc/run --interactive=0
    web:
      locations:
        "/":
          root: "web"
          passthru: "/index.php"

services:
  postgresql:
    type: postgresql:17

routes:
  "https://panel.{default}/":
    type: upstream
    upstream: "panel:http"
