applications:
  panel:
    type: "php:8.4"
    container_profile: BALANCED
    source:
      root: "/"
    runtime:
      extensions:
        - bcmath
        - ctype
        - curl
        - imagick
        - iconv
        - intl
        - mbstring
        - pdo
        - pdo_pgsql
        - zip
        - dom
        - redis
    workers:
      queue:
        container_profile: HIGH_CPU
        commands:
          start: php craft queue/listen --verbose
    relationships:
      postgresql:
      redis:
    mounts:
      storage:
        source: "storage"
        source_path: "storage"
      web/cpresources/:
        source: "storage"
        source_path: "cpresources"
      web/files/:
        source: "storage"
        source_path: "files"
    hooks:
      deploy: |
        set -xe
        php craft clear-caches/all --interactive=0
        php craft up --interactive=0 --no-backup=1
        php craft db/repair --interactive=0
      post_deploy: |
        set -xe
        php craft gc/run --interactive=0
    web:
      locations:
        "/":
          root: "web"
          passthru: "/panel.php"
          scripts: true
          allow: false
          index:
            - panel.php
        "/cpresources":
          root: "web/cpresources/"
          passthru: "/panel.php"
          scripts: true
          allow: true
    crons:
      garbage:
        spec: 0 3 * * *
        commands:
          start: |
            php craft gc/run --interactive=0
  site:
    type: "php:8.4"
    container_profile: BALANCED
    source:
      root: "/"
    runtime:
      extensions:
        - bcmath
        - ctype
        - curl
        - imagick
        - iconv
        - intl
        - mbstring
        - pdo
        - pdo_pgsql
        - zip
        - dom
        - redis
    relationships:
      postgresql:
      redis:
    mounts:
      storage:
        source: "storage"
        source_path: "storage"
        service: "panel"
      web/cpresources/:
        source: "storage"
        source_path: "cpresources"
        service: "panel"
      web/files/:
        source: "storage"
        source_path: "files"
        service: "panel"
    web:
      locations:
        "/":
          root: "web"
          passthru: "/index.php"
          scripts: true
          allow: false
          index:
            - index.php

services:
  postgresql:
    type: postgresql:17
    container_profile: HIGH_MEMORY
  redis:
    type: redis-persistent:8.0
    container_profile: BALANCED

routes:
  "https://{default}/":
    type: upstream
    upstream: "site:http"
  "https://panel.{default}/":
    type: upstream
    upstream: "panel:http"
