{# @var anchor string #}
{# @var headline string #}
{# @var level integer #}
{# @var text string #}
{# @var root integer #}

{# <editor-fold desc="defaults" defaultstate="collapsed"> #}
{% set anchor = anchor|default %}
{% set headline = headline|default %}
{% set level = level|default %}
{% set text = text|default %}
{% set root = root %}
{# </editor-fold> #}

{% embed 'components/section.twig' with {
	anchor: anchor,
} %}
	{% block content %}
		{% embed 'components/headline.twig' with {
			text: headline,
			level: level,
		} only %}{% endembed %}

		{% if text %}
			{% embed 'components/text.twig' with {
				text: text,
			} only %}{% endembed %}
		{% endif %}

		{% embed 'queries/sitemap.twig' with {
			root: root,
		} only %}
			{% block query %}
				{% if query.count() %}
					<ul>
						{% for page in query.all() %}
							<li>
								<a href="{{ page.url }}">
									{{ page.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}
