<!doctype html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="{{ craft.app.charset }}" />

		<title>{{ entry.title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />

		{{ craft.vite.script('assets/main.ts', false) }}
	</head>

	<body class="text-white bg-gray-950">
		<main id="main">
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
